<!doctype html>
<html lang="en">
  <head>


    <title>Was the wordle there before?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

  </head>

<body ng-app="WordCheck">
  <div ng-controller="WordCheckController">
   <div class="container">
     <h1>Was the wordle there before?</h1>

         <div class="form-group" ng-keypress="clearMessage()">
             <input id="word-menu" type="text"
             placeholder="wordle to check "
             class="form-control" ng-model="word" style='border-color:{{color}};{{border}}' ng-keypress="clearMessage()" ng-keyup="$event.keyCode == 13 ? checkWord() : null">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkWord()">Was it there before?</button>
         </div>
         <div class="form-group message" style='color:{{color}};'>
           <!-- Your message can go here. -->

           {{message}}

         </div>
   </div>
 </div>
 <script src="angular.min.js"></script>
 <script src="app.js"></script>
</body>
</html>
